<div class="wrapper">
    <!-- Sidebar starts -->
      <app-sidebar> </app-sidebar>
    <!-- Sidebar ends -->

  <!-- Page Content Holder -->
  <div id="content">
    <nav class="navbar navbar-default navbar-fixed">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                              <i class="glyphicon glyphicon-FDGD-left"></i>
								
                            </button>
          <a href="#" style="color:white;"><b>ADD ASSET TYPE</b></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">LOGGED IN AS: bean</a></li>
            <li><a href="#">LOGOUT</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Add Assets Panel start -->
    <div class="row">
      <div class="col-sm-9">
        <h4 class="fontStyle">Allocate assets to below employee:</h4>
      </div>
      <div class="col-sm-3 paddingRight20 mdFontSize alignRight">
        <button type="button" name="allocateButton" *ngIf="employeeList.length >= 1" (click)="onclickAllocate()" class="btn btn-primary"><i class="glyphicon glyphicon-hand-up"></i>&nbsp;Allocate Assets</button>
        <button type="button" name="resetButton" class="btn btn-info"><i class="glyphicon glyphicon-transfer"></i>&nbsp;Reset Field(s)</button>
      </div>
    </div>
    <div class="line"></div>
    <div class="row">

      <div class="btn-group col-sm-11">
        <input class="form-control" [(ngModel)]="employeeObj.uId" style="display:inline;" type="text" placeholder="Employee Sales Id"
          id="employeeSalesId" />

      </div>

      <div class="col-sm-1">
        <button class="btn btn-primary" (click)="searchEmployee();"><i class="glyphicon glyphicon-search"></i></button>

      </div>

    </div>
    <div class="line"></div>
    <div class="panel panel-info" *ngIf="employeeList.length == 0">
      <div class="panel-body">! Nothing to display currently. Enter Sales id and click on Search</div>
    </div>

    <h4 class="fontStyle" *ngIf="employeeList.length >= 1">Employee Records based on Search Criteria </h4>

    <table class="table table-bordered table-responsive" *ngIf="employeeList.length >= 1">
      <thead>
        <tr>
          <th class="formobile">NT ID</th>
          <th>Sales Id</th>
          <th>Name</th>
          <th class="formobile">Supervisor</th>
          <th class="formobile">Joining Date</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let emp of employeeList; let i = index">
          <td class="formobile">{{emp.ntId}}</td>
          <td>{{emp.uId}}</td>
          <td>{{emp.employeeName}}</td>
          <td class="formobile">{{emp.managerName}}</td>
          <td class="formobile">{{emp.dateOfJoining}}</td>
          <td><a>
                         <img src="../../assets/images/view.png"  alt="Cinque Terre"
                          width="20" height="20"/></a>
            <a>
                        <img src="../../assets/images/laptop.png"  alt="Cinque Terre"
                          width="23" height="23"/></a>
          </td>
        </tr>
      </tbody>
    </table>

    <h4 class="fontStyle" *ngIf="allocatedAssetsList.length >= 1">Allocated Assets for this employee</h4>
  
    <table class="table table-bordered table-responsive" style="width:85%;">
      <thead>
          <tr>
              <th>Asset Sl No</th>
              <th >UID</th>
              <th>Asset Id</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let alloc of allocatedAssetsList; let i = index">
              <td>{{alloc.assetId}}</td>
              <td >{{alloc.uid}}</td>
              <td>{{alloc.slNo}}</td>
          </tr>
      </tbody>
  </table>


    <div id="allocateDiv" class="allocateDiv" #allocateDiv>
      <div class="jumbotron shade1" style="text-align:center;">
        <h2>Allocate Assets </h2>
     <p></p>
    </div>
    <div class="row">
      <div class="col-sm-12" style="margin:3px;">
        <h4 class="fontStyle">Choose asset from below to allocate to the employee</h4>
      </div>
    </div>
    <div class="row" style="padding:3px;">
      <div class="col-sm-12">
      
        
          <select class="select-style" [(ngModel)]="assetTypeOvrLay">
            <option>Choose Asset Type</option>
            <option *ngFor="let asset of assetTypeList" [value]="asset.assetType">
              {{asset.assetType}}
            </option>
          </select>

        <div class="whiteLine"></div>

        <select class="select-style2" [(ngModel)]="assetModelOvrLay">
          <option>Choose Asset Model</option>
          <option *ngFor="let assetModel of assetModelList" [value]="assetModel.modelName">
            {{assetModel.modelName}}
          </option>
        </select>

      <div class="line"></div>
        <input class="form-control" style="display:inline;" [(ngModel)]="assetSerialNumber" type="text" placeholder=" Enter Asset Serial Number"
          id="assetSLNoOverlay" />
      </div>
    </div>
    <div class="panel-body">
      <div class="btn-group">


        <button style="margin:2px;" (click)="allocateAsset()" class="btn btn-primary"><i class="glyphicon glyphicon-hand-up"></i>&nbsp;Allocate</button>
        <button style="margin:2px;" (click)="closePanel()" class="btn btn-primary"><i class="glyphicon glyphicon-remove"></i>&nbsp;Cancel</button>
      </div>
    </div>
  </div>

</div>
</div>