
<div class="wrapper">
    <!-- Sidebar Holder -->
        <app-sidebar> </app-sidebar>
    <!-- Sidebar ends -->

 <!-- Page Content Holder -->
    <div id="content">
       

        <!-- Add Assets Panel start -->
        <div class="row">
            <div class="col-sm-12">
                <h4 ><b>Add Asset Types  ( for ex: Laptops / Monitors / Mobiles etc. are asset types )</b> </h4>
            </div>

        </div>

        <!-- Add Assets Panel end -->

        <!-- Search / Modify Assets Panel start -->


<div *ngFor="let alert of alerts">
  <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
</div>

        <div class="line"></div>


        <!-- Search / Modify Assets Panel end -->

        <div class="row" style="padding:1%;">

            <div class="col-sm-5">

                <div class="form-group row">

                    <label for="example-text-input" class="form-label">Asset Type</label>

                    <input class="form-control" [(ngModel)]="assetType" style="display:inline;" type="text" placeholder="Laptop/Monitor etc."
                        id="example-text-input" />

                </div>
                <div class="form-group row">
                    <label for="example-search-input" class="col-2 col-form-label">Asset Introduced Date</label>

                    <input class="form-control" id="input-date" type="date" [(ngModel)]="assetIntroDate" />


                </div>

            </div>

            <div class="col-sm-2">
            </div>



            <div class="col-sm-5">

                <div class="form-group row">
                    <label for="example-search-input" class="col-2 col-form-label">Asset Category</label>
                    <select class="form-control" name="staus" [(ngModel)]="assetCategory">
                
                        <option value="Hardware">Hardware</option>
                        <option value="Software">Software</option>
                </select>
                </div>


                <div class="form-group row">
                    <label for="example-tel-input" class="col-2 col-form-label">Asset Status</label>


                    <select class="form-control" name="staus" [(ngModel)]="activeIndicator">
                
                        <option value="Active">Active</option>
                        <option value="Inactive">Inactive</option>
                </select>

                </div>

            </div>




        </div>


        <div class="row" style="padding:1%;">
            <div class="col-sm-12">
                <div class="form-group row">

                    <label for="example-text-input" class="form-label">Remarks / Comments</label>

                    <textarea class="form-control" rows="2" [(ngModel)]="comments" id="comment"></textarea>

                </div>
            </div>

        </div>

         <div class="row">
            <div class="col-sm-9">
               
            </div>

            <div class="col-sm-3 paddingRight20 mdFontSize alignRight">
                 <button type="button" name="uploadbutton"
                 class="btn btn-info disabled"><i class="glyphicon glyphicon-upload"></i>&nbsp;Upload</button> 
         <button type="button" name="button" (click)="onaddclick()"
                 class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add Asset Type</button> 
            </div>

        </div>

        <div class="line">
            
        </div>

        <h4>Master Asset Table [Total asset types in use : {{assetList.length}}]</h4>



        <table class="table table-bordered table-responsive" style="width:85%;">
            <thead>
                <tr>
                    <th>Asset Type</th>
                    <th class="formobile">Asset Category</th>
                    <th>Asset Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let asst of assetList; let i = index">
                    <td>{{asst.assetType}}</td>
                    <td class="formobile">{{asst.assetCategory}}</td>
                    <td>{{asst.activeIndicator}}</td>
                    <td><a (click)="openModal(template,i)">
                        <i class="glyphicon glyphicon-edit"></i></a>
                     </td>
                </tr>
            </tbody>
        </table>

    </div>
    <template #template>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Modal</h4>
            <button type="button" class="close pull-right" aria-label="Close"
             (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
        </div>
        <div class="modal-body">


            <div class="row" style="padding:2%;">

                <div class="col-sm-5">

                    <div class="form-group row">

                        <label for="example-text-input" class="form-label">Asset Type</label>

                        <input class="form-control" [(ngModel)]="assetModal.assetType" style="display:inline;" type="text" placeholder="Laptop/Monitor etc."
                            id="example-text-input" />

                    </div>
                    <div class="form-group row">
                        <label for="example-search-input" class="col-2 col-form-label">Asset Introduced Date</label>

                        <input class="form-control" id="input-date" type="date" [(ngModel)]="assetModal.assetIntroDate" />

                    </div>

                </div>

                <div class="col-sm-2">
                </div>



                <div class="col-sm-5">

                    <div class="form-group row">
                        <label for="example-search-input" class="col-2 col-form-label">Asset Category</label>
                        <select class="form-control" name="staus" [(ngModel)]="assetModal.assetCategory">
                
                            <option value="Hardware">Hardware</option>
                            <option value="Software">Software</option>
                </select>
                    </div>


                    <div class="form-group row">
                        <label for="example-tel-input" class="col-2 col-form-label">Asset Status</label>


                        <select class="form-control" name="staus" [(ngModel)]="assetModal.activeIndicator">
                
                            <option value="Active">Active</option>
                            <option value="Inactive">Inactive</option>
                </select>

                    </div>

                </div>

            </div>

            <div class="row alignCenter">
                <button type="button" id="modalClose" (click)="editSelectedAssetType(template)"
                 class="btn btn-info navbar-btn">SAVE & EXIT</button>
            </div>
        </div>
    </template>
</div>