<h1>Hello</h1>
<ul>
  <li>age:{{age}}</li>
  <li>email:{{email}}</li>
  <li>address:{{address.street}}, {{address.city}}, {{address.state}}</li>
</ul>
<h1>Hobbies</h1>
<ol>
  <li *ngFor="let hobby of hobbies; let i = index">{{hobby}}</li>
</ol>