<div class="wrapper">

  <!-- Sidebar starts -->
      <app-sidebar> </app-sidebar>
    <!-- Sidebar ends -->

  <!-- Page Content Starts -->
  <div id="content">
    <!-- Top Nav Bar : Starts -->
    <nav class="navbar navbar-default navbar-fixed">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                              <i class="glyphicon glyphicon-FDGD-left"></i>
								
                            </button>
          <a href="#" style="color:white;"><b>SEARCH/EDIT EMPLOYEE(S)</b></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">LOGGED IN AS: bean</a></li>
            <li><a href="#">LOGOUT</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Top Nav Bar : Ends -->
    <!-- Edit Employee Panel Heading start -->
    <div class="row">
      <div class="col-sm-9">
        <h4 class="fontStyle">Search employee based on below criteria:</h4>
      </div>
      <div class="col-sm-3 paddingRight20 mdFontSize alignRight">
        <button type="button" name="uploadbutton" *ngIf="!showMultiSearch" (click)="displayMultiSearch()" class="btn btn-info"><i class="glyphicon glyphicon-transfer"></i>&nbsp;Multi-field Search</button>
        <button type="button" name="uploadbutton" *ngIf="showMultiSearch" (click)="displayNameSearch()" class="btn btn-info"><i class="glyphicon glyphicon-user"></i>&nbsp;Name Search</button>
        <button type="button" name="button" *ngIf="showMultiSearch" (click)="searchEmployee()" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i>&nbsp;Search</button>
      </div>
    </div>
    <!-- Edit Employee Panel Heading end -->
    <div class="line"></div>
    <!-- Name Search -->
    <div class="row" *ngIf="!showMultiSearch" >
      <div class="col-sm-12">
         <label for="employeeName" class="form-label">Employee Name:</label>
          <input  class="form-control"  style="display:inline;" (keyup)="searchEmployeeOnName()"
           [(ngModel)]="employeeNameSrchStr" type="text" placeholder="Employee Name"
            id="employeeName" />
      </div>
         
    </div>
    
    <!-- Employee Search Criteria Fields -->
    <div class="row" [hidden]="!showMultiSearch"  style="padding:1%;">
        
      <div class="col-sm-3">
        <!-- Windows id -->
        <div class="form-group row" style="padding:1%">
          <label for="windowsId" class="form-label">Windows Id:</label>
          <input  class="form-control cursor" (focus)="enableInput($event)"
           (focusout)="disableInput($event)" style="display:inline;" 
           [(ngModel)]="employeeObj.ntId" type="text" placeholder="Lowe's NT id"
            id="windowsId" />
        </div>
        </div>
     
       <div class="col-sm-3">
        <!-- Sales id -->
        <div class="form-group row" style="padding:1%">
          <label for="salesId" class="form-label">Sales Id:</label>
          <input class="form-control cursor"  (focus)="enableInput($event)"
           (focusout)="disableInput($event)" style="display:inline;" [(ngModel)]="employeeObj.uId" type="text" placeholder="Lowe's Sales Id"
            id="salesId" />
        </div>
      </div>
     
      <div class="col-sm-3">
         <div class="form-group row" style="padding:1%">
           <label for="supervisorName" class="form-label">Supervisor Name:</label>
          <input class="form-control cursor" (focus)="enableInput($event)"
           (focusout)="disableInput($event)" style="display:inline;" [(ngModel)]="employeeObj.managerName" type="text" placeholder="Supervisor Name"
            id="supervisorName" />
         </div>
      </div>  
     
      <div class="col-sm-3">
         <div class="form-group row" style="padding:1%">
           <label for="department" class="form-label">Department:</label>
          <input class="form-control cursor" (focus)="enableInput($event)"
           (focusout)="disableInput($event)" style="display:inline;" [(ngModel)]="employeeObj.departmentName" type="text" placeholder="Department Name"
            id="department" />
         </div>
      </div>
       
    
      </div>
    
     <div class="line1"></div>

    <div class="panel panel-info" *ngIf="employeeList.length == 0">
      <div class="panel-body">Nothing to display currently. Enter appropriate criteria for ex. Sales id, NT id, Joining Start and End date and click
        on Search</div>
    </div>

    <h4 class="fontStyle" *ngIf="employeeList.length >= 1">Employee Records based on Search Criteria </h4>

    <table class="table table-bordered table-responsive" *ngIf="employeeList.length >= 1">
      <thead>
        <tr>
          <th class="formobile">NT ID</th>
          <th>Sales Id</th>
          <th>Name</th>
          <th class="formobile">Supervisor</th>
          <th class="formobile">Joining Date</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let emp of employeeList; let i = index">
          <td class="formobile">{{emp.ntId}}</td>
          <td>{{emp.uId}}</td>
          <td>{{emp.employeeName}}</td>
          <td class="formobile">{{emp.managerName}}</td>
          <td class="formobile">{{emp.dateOfJoining}}</td>
          <td><a (click)="viewEmployee(i)">
                         <img src="../../assets/images/view.png"  alt="Cinque Terre"
                          width="20" height="20"/></a>
            <a>
                        <img src="../../assets/images/laptop.png"  alt="Cinque Terre"
                          width="23" height="23"/></a>
          </td>
        </tr>
      </tbody>
    </table>


    <!-- Employee  details Panel -->
    <div class="panel-group" *ngIf="employeeList.length >= 1"  [@showAnimation]="showState" [hidden] = "!showEmployeePanel">
       <!-- Employee basic details Panel -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="btn-group pull-right">
            <button *ngIf="!basicPaneleditable" (click)="editBasicPanel()" class="btn btn-primary"><i class="glyphicon glyphicon-edit"></i></button>
         
             </div>
          <h5 class="fontStyle"> <i class="glyphicon glyphicon-user"></i><b>&nbsp; Basic Details</b></h5>

        </div>
        <div class="panel-body">
          <div  >
          <h5 [hidden]="(basicPaneleditable)" class="fontStyle"> <b >Employee name:</b>{{employeeObjPanel.employeeName}}</h5>
          <h5   [hidden]="!basicPaneleditable" class="fontStyle">
            <b  >Employee name:</b><div [@myAwesomeAnimation]="state"><input class="form-control" [(ngModel)] = "employeeObjPanel.employeeName" type="test" name="test" value="test"/></div></h5>
            <div class="noSpaceLine"></div>
            <h5 [hidden]="(basicPaneleditable)" class="fontStyle"> <b >Employee Id:</b>{{employeeObjPanel.employeeId}}</h5>
          <h5   [hidden]="!basicPaneleditable" class="fontStyle">
            <b  >Employee Id:</b><div [@myAwesomeAnimation]="state"><input class="form-control" [(ngModel)] = "employeeObjPanel.employeeId" type="test" name="test" value="test"/></div></h5>
            <div class="noSpaceLine"></div>
         <h5 [hidden]="(basicPaneleditable)" class="fontStyle"> <b >Windows Id:</b>{{employeeObjPanel.ntId}}</h5>
          <h5   [hidden]="!basicPaneleditable" class="fontStyle">
            <b  >Windows Id:</b><div [@myAwesomeAnimation]="state"><input class="form-control" [(ngModel)] = "employeeObjPanel.ntId" type="test" name="test" value="test"/></div></h5>
           
            <div class="noSpaceLine"></div>
           <h5 [hidden]="(basicPaneleditable)" class="fontStyle"> <b >Sales Id:</b>{{employeeObjPanel.uId}}</h5>
          <h5   [hidden]="!basicPaneleditable" class="fontStyle">
            <b  >Sales Id:</b><div [@myAwesomeAnimation]="state"><input class="form-control"  [(ngModel)] = "employeeObjPanel.uId"  type="test" name="test" value="test"/></div></h5>
          </div>

        </div>

         <div *ngIf="basicPaneleditable" class="panel-body">
          <div class="btn-group pull-right">
           
         
            <button style="margin:2px;" *ngIf="basicPaneleditable" (click)="saveBasicPanelDetails()" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;Save</button>
          <button style="margin:2px;" *ngIf="basicPaneleditable" (click)="canceleditBasicPanel()" class="btn btn-primary"><i class="glyphicon glyphicon-remove"></i>&nbsp;Cancel</button>
          </div>
          <h5 class="fontStyle"><b>&nbsp;</b></h5>

        </div>
      </div>
       <!-- Employee other details Panel -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="btn-group pull-right">
            <button *ngIf="!otherDetailsPaneleditable" (click)="editOtherDetailsPanel()" class="btn btn-primary"><i class="glyphicon glyphicon-edit"></i></button>
         
             </div>
          <h5 class="fontStyle"> <i class="glyphicon glyphicon-globe"></i><b>&nbsp; Additional Details</b></h5>

        </div>
        <div class="panel-body">
          <div  >
          <h5 [hidden]="(otherDetailsPaneleditable)" class="fontStyle"> <b >Supervisor name:</b>{{employeeObjPanel.managerName}}</h5>
          <h5   [hidden]="!otherDetailsPaneleditable" class="fontStyle">
            <b  >Manager name:</b><div [@myAwesomeAnimation]="state"><input class="form-control" [(ngModel)] = "employeeObjPanel.managerName" type="test" name="test" value="test"/></div></h5>
            <div class="noSpaceLine"></div>
            <h5 [hidden]="(otherDetailsPaneleditable)" class="fontStyle"> <b >Email Id:</b>{{employeeObjPanel.emailId}}</h5>
          <h5   [hidden]="!otherDetailsPaneleditable" class="fontStyle">
            <b  >Email Id:</b><div [@myAwesomeAnimation]="state"><input class="form-control" [(ngModel)] = "employeeObjPanel.emailId" type="test" name="test" value="test"/></div></h5>
            <div class="noSpaceLine"></div>
           <h5 [hidden]="(otherDetailsPaneleditable)" class="fontStyle"> <b >Date Of Joining:</b>{{employeeObjPanel.dateOfJoining}}</h5>
          <h5   [hidden]="!otherDetailsPaneleditable" class="fontStyle">
            <b  >Date Of Joining:</b><div [@myAwesomeAnimation]="state"><input class="form-control"  [(ngModel)] = "employeeObjPanel.dateOfJoining"  type="test" name="test" value="test"/></div></h5>
          <div class="noSpaceLine"></div>
          <h5 [hidden]="(otherDetailsPaneleditable)" class="fontStyle"> <b >Designation:</b>{{employeeObjPanel.designation}}</h5>
          <h5   [hidden]="!otherDetailsPaneleditable" class="fontStyle">
            <b  >Designation:</b><div [@myAwesomeAnimation]="state"><input class="form-control"  [(ngModel)] = "employeeObjPanel.designation"  type="test" name="test" value="test"/></div></h5>
          <div class="noSpaceLine"></div>
           <h5 [hidden]="(otherDetailsPaneleditable)" class="fontStyle"> <b >Id creation Date:</b>{{employeeObjPanel.idCreationDate}}</h5>
          <h5   [hidden]="!otherDetailsPaneleditable" class="fontStyle">
            <b  >Id Creation date:</b><div [@myAwesomeAnimation]="state"><input class="form-control"  [(ngModel)] = "employeeObjPanel.idCreationDate"  type="test" name="test" value="test"/></div></h5>
         <div class="noSpaceLine"></div>
          <h5 [hidden]="(otherDetailsPaneleditable)" class="fontStyle"> <b >Department Name</b>{{employeeObjPanel.departmentName}}</h5>
          <h5   [hidden]="!otherDetailsPaneleditable" class="fontStyle">
            <b  >Department Name</b><div [@myAwesomeAnimation]="state"><input class="form-control"  [(ngModel)] = "employeeObjPanel.departmentName"  type="test" name="test" value="test"/></div></h5>
        <div class="noSpaceLine"></div>
             <h5 [hidden]="(otherDetailsPaneleditable)" class="fontStyle"> <b >Employment Status</b>{{employeeObjPanel.employmentStatus}}</h5>
          <h5  [hidden]="!otherDetailsPaneleditable" class="fontStyle">
            <b  >Employment Status</b><div [@myAwesomeAnimation]="state"><input class="form-control"  [(ngModel)] = "employeeObjPanel.employmentStatus"  type="test" name="test" value="test"/></div></h5>
         <div class="noSpaceLine"></div>
            <h5 [hidden]="(otherDetailsPaneleditable)" class="fontStyle"> <b >Extension Number</b>{{employeeObjPanel.extensionNumber}}</h5>
          <h5  [hidden]="!otherDetailsPaneleditable" class="fontStyle">
            <b  >Extension Number</b><div [@myAwesomeAnimation]="state"><input class="form-control"  [(ngModel)] = "employeeObjPanel.extensionNumber"  type="test" name="test" value="test"/></div></h5>
          <div class="noSpaceLine"></div>
           <h5 [hidden]="(otherDetailsPaneleditable)" class="fontStyle"> <b >Manager Employee Id</b>{{employeeObjPanel.managerEmployeeId}}</h5>
          <h5  [hidden]="!otherDetailsPaneleditable" class="fontStyle">
            <b  >Manager Employee Id</b><div [@myAwesomeAnimation]="state"><input class="form-control"  [(ngModel)] = "employeeObjPanel.managerEmployeeId"  type="test" name="test" value="test"/></div></h5>
         <div class="noSpaceLine"></div>
         <h5 [hidden]="(otherDetailsPaneleditable)" class="fontStyle"> <b >Cubicle Location</b>{{employeeObjPanel.cubicleLocation}}</h5>
          <h5  [hidden]="!otherDetailsPaneleditable" class="fontStyle">
            <b  >Cubicle Location</b><div [@myAwesomeAnimation]="state"><input class="form-control"  [(ngModel)] = "employeeObjPanel.cubicleLocation"  type="test" name="test" value="test"/></div></h5>
         <div class="noSpaceLine"></div>
          <h5 [hidden]="(otherDetailsPaneleditable)" class="fontStyle"> <b >Employment Type</b>{{employeeObjPanel.employmentType}}</h5>
          <h5  [hidden]="!otherDetailsPaneleditable" class="fontStyle">
            <b  >Employment Type</b><div [@myAwesomeAnimation]="state"><input class="form-control"  [(ngModel)] = "employeeObjPanel.employmentType"  type="test" name="test" value="test"/></div></h5>
         
          </div>

        </div>

         <div *ngIf="otherDetailsPaneleditable" class="panel-body">
          <div class="btn-group pull-right">
           
         
            <button style="margin:2px;" *ngIf="otherDetailsPaneleditable" (click)="saveOtherDetailsPanel()" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;Save</button>
          <button style="margin:2px;" *ngIf="otherDetailsPaneleditable" (click)="cancelOtherDetailsPanel()" class="btn btn-primary"><i class="glyphicon glyphicon-remove"></i>&nbsp;Cancel</button>
          </div>
          <h5 class="fontStyle"><b>&nbsp;</b></h5>

        </div>
      </div>

    </div>

  </div>
</div>