<div class="wrapper">
  <!-- Sidebar Holder -->
  <app-sidebar> </app-sidebar>
  <!-- Sidebar ends -->
  
<!-- Page Content Holder -->
  <div id="content">
   
  
 <div class="row">
      <div class="col-sm-12">
        <h4>Add Asset Model</h4>
      </div>

    </div>
<div class="line"></div>
    <div class="row" style="padding:1%;">

      <div class="col-sm-5">

        <div class="form-group row">

          <label for="modelName" class="form-label">Model Name</label>

          <input class="form-control" [(ngModel)]="assetModel.modelName" style="display:inline;" type="text" placeholder="T 450/460 etc."
            id="modelName" />

        </div>
        <div class="form-group row">
          <label for="assetMake" class="col-2 col-form-label">Asset Make</label>
          <input class="form-control" [(ngModel)]="assetModel.assetMake" style="display:inline;" type="text" placeholder="Lenovo/HP etc." id="assetMake"
          />

          <!-- <input class="form-control" id="input-date" type="date" [(ngModel)]="assetIntroDate" /> -->


        </div>

        <div class="form-group row">
          <label for="modelImportDate" class="col-2 col-form-label">Model Import Date</label>
          <input class="form-control" id="input-date" type="date" [(ngModel)]="assetModel.modelImportDate" />
        </div>

        <div class="form-group row">
          <label for="assetType" class="col-2 col-form-label">Asset Type</label>
          <select class="select-style" [(ngModel)]="assetModel.assetType">
            <option>Choose Asset Type</option>
            <option *ngFor="let asset of assetTypeList" [value]="asset.assetType">
              {{asset.assetType}}
            </option>
          </select>
        </div>

      </div>

      <div class="col-sm-2">
      </div>



      <div class="col-sm-5">

        <div class="form-group row">
          <label for="partNumber" class="col-2 col-form-label">PartNumber</label>
          <input class="form-control" [(ngModel)]="assetModel.partNumber" style="display:inline;" type="text" placeholder="Part Number" id="partNumber" />
          
        </div>


        <div class="form-group row">
          <label for="modelType" class="col-2 col-form-label">Model Type</label>


          <select class="form-control" name="status" [(ngModel)]="assetModel.activeStatus">
                
                 
            <option value="Active">Active</option>
            <option value="Inactive">Inactive</option>
                </select>

        </div>

        <div class="form-group row">
          <label for="vendor" class="col-2 col-form-label">Vendor</label>
          <input class="form-control" [(ngModel)]="assetModel.vendor" style="display:inline;" type="text" placeholder="Vendor Name" id="vendor" />
          
        </div>

        <div class="form-group row">
          <label for="activeStatue" class="col-2 col-form-label">Active Status</label>


          <select class="form-control" name="staus" [(ngModel)]="activeStatus">
                
                  <option  [value]="1" [selected]="activeIndicator ==1">Active</option>
                  <option  [value]="0" [selected]="activeIndicator ==0">In Active</option>
                </select>

        </div>

      </div>
    </div>
<div class="row">
      <div class="col-sm-9">

      </div>

      <div class="col-sm-3 paddingRight20 mdFontSize alignRight">
        <button type="button" name="uploadbutton" class="btn btn-info disabled"><i class="glyphicon glyphicon-upload"></i>&nbsp;Upload</button>
        <button type="button" name="button"  (click)="addAssetModel()" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add Asset Model</button>
      </div>

</div>

<div class="line">

    </div>

    <h4>Master Asset Model [Total asset Model in use] : {{assetModelList.length}}]</h4>



    <table class="table table-bordered table-responsive" style="width:85%;">
      <thead>
        <tr>
          <th>Model Name</th>
          <th class="formobile">Asset Type</th>
          <th>Vendor</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let asst of assetModelList; let i = index">
          <td>{{asst.modelName}}</td>
          <td class="formobile">{{asst.assetType}}</td>
          <td>{{asst.vendor}}</td>
          <td><a (click)="openModal(template,i)">
                        <i class="glyphicon glyphicon-edit"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
</div>
  <template>
      <div class="row alignCenter">
          <button type="button" id="modalClose" (click)="editSelectedAssetModel(template)"
           class="btn btn-info navbar-btn">SAVE & EXIT</button>
      </div>
  

        </template>


</div>