<!-- Side Nav Bar : starts -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <h2 class="align-center"> 
        <a (click)="navigateToHome()" aria-expanded="false">
          <img src="../../assets/images/logo.png" alt="Asset Management">
        </a>
      </h2>
    </div>
    <ul class="list-unstyled components align-center">
      
      <li>

        <ul class="list-unstyled">
          <li><a (click)="navigateToAddAssetType()"><i class="glyphicon glyphicon-plus float-left width-30"></i><span class="sidebar-list width-70 align-left">Asset</span></a></li>
          <li><a (click)="navigateToAddAssetModel()"><i class="glyphicon glyphicon-th-list float-left width-30"></i><span class="sidebar-list width-70 align-left">Asset Model</span></a></li>
          <li><a (click)="navigateToAllocDealloc()"><i class="glyphicon glyphicon-barcode float-left width-30"></i><span class="sidebar-list width-70 align-left">Allocate</span></a></li>
        </ul>
      </li>
      <li>
        
        <ul class="list-unstyled">
          <li><a (click)="navigateToAddEmployee()"><i class="glyphicon glyphicon-plus float-left width-30"></i><span class="sidebar-list width-70 align-left">Employee</span></a></li>
          <li><a (click)="navigateToEditEmployee()"><i class="glyphicon glyphicon-edit float-left width-30"></i><span class="sidebar-list width-70 align-left">Edit Employee</span></a></li>
        </ul>
      </li>
      <!-- <li>
        <a href="#">
          <i class="glyphicon glyphicon-share"></i>
              </a>
      </li> -->
    </ul>
  </nav>
  <!-- Side Nav Bar : Ends -->