/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color:#000;
}

h4{

color: #606ea3;

}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #31b0d5;
    border: none;
    border-radius: 2 px;
    margin-bottom: 20px;
    -webkit-box-shadow: 3px 2px 1px 1px #606ea3;
  -moz-box-shadow:    3px 2px 1px 1px #606ea3;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 2px 1px 1px #606ea3;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}





.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #606ea3;
    margin: 10px 0;

}

.whiteLine{
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #fff;
  margin: 20px 0;
}

.line1 {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #606ea3;
    border-bottom-style: dashed;
    margin: 20px 0;

}

i, span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;

}

#sidebar {

    background: #606ea3;
    min-width: 80px;
    max-width: 80px;
    text-align: center;

}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar ul li a {
    padding: 20px 10px;
    color:white;
}

#sidebar ul li a span {
    font-size: 0.85em;
    color:white;
}
#sidebar ul li a i {
    margin-right:  0;
    display: block;
}

#sidebar ul ul a {
    padding: 10px !important;
color:white;
}

#sidebar ul li a i {
    font-size: 1.3em;
    color: white;
}

.staticElemClass{

    text-align: left;

    background: #5bc0de;
    margin: 5%;
    border-radius: 5px;
}

#sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 2.5em;
    margin-bottom: 5px;
    color:white;
}

#bs-example-navbar-collapse-1 ul li a{

  color: white;
  border-left:1px solid white;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
    top: auto;
    bottom: 5px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #606ea3;
    color:#fff;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #606ea3;
    background: steelblue;
}
#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: steelblue;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #606ea3;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #d7f442;
    color: #000;
    text-align: center !important;
    font-weight: bold;
}

a.article, a.article:hover {
    background: #606ea3 !important;
    color: #fff !important;
}




/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    padding: 15px;
    min-height: 100vh;
    transition: all 700ms;
width:calc(100%); 
}

/* ---------------------------------------------------
    LABEL HEADER STYLE
----------------------------------------------------- */


/* ---------------------------------------------------
    CUSTOM USED CSS
----------------------------------------------------- */

.paddingRight20{

padding: 0px 20px 0px 0px;
}

.paddingTop10pc{

  padding-top: 10%;
}

.alignRight{
text-align:right;

}

.alignLeft{
text-align:left;

}

.mdFontSize{
  font-size: 30px;
  color: #606ea3;
}



.dropDwnWdth{
  width: 50%;
}

@media (max-width:768px) {
  .formobile{
    display: none;
  }
}

#dropdown1 li a{
cursor: pointer;
}

#dropdown2 li a{
cursor: pointer;
}
label{
    color: #606ea3;
    font-weight: bold;
} 
th{
    background-color: #5bc0de;
    color:#fff;
    font-weight: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

table{
     border-radius: 2 px;
   
}

.alignCenter{
  text-align: center;  
}
