<div class="wrapper">

  <!-- Sidebar starts -->
  <app-sidebar> </app-sidebar>
  <!-- Sidebar ends -->

  <!-- Page Content Starts -->
  <div id="content">
    <!-- Top Nav Bar : Starts -->
    <nav class="navbar navbar-default navbar-fixed">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                              <i class="glyphicon glyphicon-FDGD-left"></i>
								
                            </button>
          <a href="#" style="color:white;"><b>ADD EMPLOYEE(S)</b></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">LOGGED IN AS: bean</a></li>
            <li><a href="#">LOGOUT</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Top Nav Bar : Ends -->

    <!-- Add Employee Panel Heading -->
    <div class="row">
      <div class="col-sm-9">
        <h4>Add Employee(s) into Asset Management System</h4>
      </div>
      <div class="col-sm-3 paddingRight20 mdFontSize alignRight">
        <button type="button" name="uploadbutton" class="btn btn-info disabled"><i class="glyphicon glyphicon-upload"></i>&nbsp;Upload to DB</button>
        <button type="button" name="button" (click) = "addemployee()" class="btn btn-primary"><i class="glyphicon glyphicon-save"></i>&nbsp;Save Employee</button>
      </div>
    </div>
    <div class="line"></div>
    <!--Add Employee Fields: Start -->
    <div class="row" style="padding:1%">
      <!-- Column 1 -->
      <div class="col-sm-4">
        <!-- Windows id -->
        <div class="form-group row" style="padding:1%">
          <label for="windowsId" class="form-label">Windows Id(NT id):</label>
          <input class="form-control" style="display:inline;" type="text"
          [(ngModel)]="employee.ntId" placeholder="Lowe's NT id eg: sjohnson etc." id="windowsId"
          />
        </div>
        <!-- Dept name -->
        <div class="form-group row" style="padding:1%">
          <label for="deptName" class="form-label">Dept. Name</label>
          <input class="form-control"  [(ngModel)]="employee.departmentName" style="display:inline;" type="text" placeholder="Dept. Name" id="deptName" />
        </div>
        <!-- Employment Type -->
        <div class="form-group row" style="padding:1%">
          <label for="employmentTypeId" class="col-2 col-form-label">Employment Type</label>
          <select class="form-control" name="employmentType" [(ngModel)]="employmentType" id="employmentTypeId">                
                  <option  [value]="2" [selected]="employmentType ==2">Permanent</option>
                  <option  [value]="1" [selected]="employmentType ==1">Contractor</option>                  
                </select>
        </div>
        <!-- Designation-->
        <div class="form-group row" style="padding:1%">
          <label for="designationId" class="form-label">Designation</label>
          <input class="form-control" [(ngModel)]="employee.designation" style="display:inline;" type="text" placeholder="designationId" id="designationId" />
        </div>
        <!-- Extension Number -->
        <div class="form-group row" style="padding:1%">
          <label for="extnNumId" class="form-label">Extension Number:</label>
          <input class="form-control" [(ngModel)]="employee.extensionNumber" style="display:inline;" type="text" placeholder="Extension Number" id="extnNumId" />
        </div>
      </div>
      <!-- Column 2 -->
      <div class="col-sm-4">
        <!-- Sales id -->
        <div class="form-group row" style="padding:1%">
          <label for="salesId" class="form-label">Sales Id:</label>
          <input class="form-control" [(ngModel)]="employee.uId" style="display:inline;" type="text" placeholder="Lowe's Sales Id" id="salesId" />
        </div>
        <!-- Manager name -->
        <div class="form-group row" style="padding:1%">
          <label for="managerName" class="form-label">Manager Name:</label>
          <input class="form-control" [(ngModel)]="employee.managerName" style="display:inline;" type="text" placeholder="Supervisor Name" id="managerName" />
        </div>

        <!-- Date Of Joining -->
        <div class="form-group row" style="padding:1%">
          <label for="dateOfJoining" class="col-2 col-form-label">Date Of Joining</label>
          <input class="form-control" [(ngModel)]="employee.dateOfJoining"
           id="dateOfJoining" type="date" />
        </div>
        <!-- Id Creation Date -->
        <div class="form-group row" style="padding:1%">
          <label for="idCreationDateId" class="col-2 col-form-label">Id Creation Date:</label>
          <input class="form-control" [(ngModel)]="employee.idCreationDate" id="idCreationDateId" type="date" />
        </div>
        <!-- Remarks -->
        <div class="form-group row" style="padding:1%">
          <label for="managerEmpId" class="form-label">Manager Employee Id:</label>
          <input class="form-control" [(ngModel)]="employee.managerEmployeeId" style="display:inline;" type="text" placeholder="Manager Employee Id" id="managerEmpId" />
        </div>
      </div>
      <!-- Column 3 -->
      <div class="col-sm-4">
         <!-- Employee Name -->
        <div class="form-group row" style="padding:1%">
          <label for="employeeNameId" class="form-label">Employee Name:</label>
          <input class="form-control" [(ngModel)]="employee.employeeName" style="display:inline;" type="text" 
          placeholder="Employee Name" id="employeeNameId" />
        </div>
        <!-- Employee Num -->
        <div class="form-group row" style="padding:1%">
          <label for="employeeNumber" class="form-label">Employee Number:</label>
          <input class="form-control" [(ngModel)]="employee.employeeId" style="display:inline;" type="text" placeholder="Lowe's Employee Id" id="employeeNumber" />
        </div>

        <!-- Email id -->
        <div class="form-group row" style="padding:1%">
          <label for="emailId" class="form-label">Email id:</label>
          <input class="form-control" [(ngModel)]="employee.emailId" style="display:inline;" type="text" placeholder="Email Id" id="emailId" />
        </div>
        <!-- Employment Status -->
        <div class="form-group row" style="padding:1%">
          <label for="employmentStatusId" class="col-2 col-form-label">Employment Status</label>
          <select class="form-control" name="employmentStatus" [(ngModel)]="employmentStatus" id="employmentStatusId">                
                  <option  [value]="2" [selected]="employmentStatus ==2">Active</option>
                  <option  [value]="1" [selected]="employmentStatus ==1">Inactive</option>                  
                </select>
        </div>
        <!-- Cubicle Location -->
        <div class="form-group row" style="padding:1%">
          <label for="cubicleLocId" class="form-label">Cubicle Location:</label>
          <input class="form-control" [(ngModel)]="employee.cubicleLocation" style="display:inline;" type="text" placeholder="Cubicle Location" id="cubicleLocId" />
        </div>
      </div>
    </div>

    <!-- Line Separator-->
    <div class="line">

    </div>

  </div>