<div class="wrapper">

  <!-- Side Nav Bar : starts -->
  <app-sidebar> </app-sidebar>
    <!-- Side Nav Bar : Ends -->

    <!-- Page Content Starts -->
    <div id="content">
      <!-- Top Nav Bar : Starts -->
      <nav class="navbar navbar-default navbar-fixed">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                              <i class="glyphicon glyphicon-FDGD-left"></i>
								
                            </button>
            <a href="#" style="color:white;"><b>ADD ASSET DETAIL(S)</b></a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">LOGGED IN AS: bean</a></li>
              <li><a href="#">LOGOUT</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- Top Nav Bar : Ends -->
      


      <!-- Add Employee Panel Heading -->
      <div class="row">
        <div class="col-sm-9">
          <h4>Add Asset(s) Detail into Asset Management System</h4>
        </div>
        <div class="col-sm-3 paddingRight20 mdFontSize alignRight">
          <button type="button" name="uploadbutton" class="btn btn-info disabled"><i class="glyphicon glyphicon-upload"></i>&nbsp;Upload to DB</button>
          <button type="button" name="button" (click)="addAssetDetail()" class="btn btn-primary"><i class="glyphicon glyphicon-save"></i>&nbsp;Save Asset</button>
        </div>
      </div>
      <div class="line"></div>
      <!--Add Employee Fields: Start -->
      <div class="row" style="padding:1%">
        <!-- Column 1 -->
        <div class="col-sm-4">
          <!-- Asset Type -->
          <div class="form-group row" style="padding:1%">
            <label for="assetId" class="form-label">Asset Id</label>
            <input class="form-control" [(ngModel)]="assetdetail.assetId" style="display:inline;" type="text" placeholder="Asset Id"
              id="assetId" />
          </div>
          <!-- Model Type -->
          <div class="form-group row" style="padding:1%">
            <label for="modelType" class="form-label">Model Type</label>
            <select class="form-control" name="modelType" [(ngModel)]="assetdetail.modelType" id="modelType">                
                  <option  value="Lenovo T450" [selected]="assetdetail.modelType ==1">Lenovo T450</option>
                  <option value="Lenovo P50" [selected]="assetdetail.modelType ==2">Lenovo P50</option>
                </select>
          </div>
          <!-- Serial Number -->
          <div class="form-group row" style="padding:1%">
            <label for="serialNumber" class="col-2 col-form-label">Serial Number</label>
            <input class="form-control" [(ngModel)]="assetdetail.serialNumber" style="display:inline;" type="text" placeholder="Serial Number"
              id="serialNumber" />
          </div>
          <!-- Host Name-->
          <div class="form-group row" style="padding:1%">
            <label for="hostName" class="form-label">Host Name</label>
            <input class="form-control" [(ngModel)]="assetdetail.hostName" style="display:inline;" type="text" placeholder="Host Name"
              id="hostName" />
          </div>
          <!-- OS Type -->
          <div class="form-group row" style="padding:1%">
            <label for="osType" class="form-label">OS Type</label>
            <select class="form-control" name="osType" [(ngModel)]="assetdetail.osType" id="osType">                
                  <option  [value]="32" [selected]="assetdetail.osType ==1">32 bit</option>
                  <option  [value]="64" [selected]="assetdetail.osType ==2">64 bit</option>                  
                </select>
          </div>
          <div class="form-group row" style="padding:1%">
              <label for="assetModelId" class="form-label">Asset Model ID</label>
              <input class="form-control" [(ngModel)]="assetdetail.assetModelId" style="display:inline;" type="text" placeholder="Dual Band"
                id="assetModelId" />
            </div>

        </div>
        <!-- Column 2 -->

        <div class="col-sm-4">
          <!-- Dual Band -->
          <div class="form-group row" style="padding:1%">
            <label for="dualBand" class="form-label">Dual Band</label>
            <input class="form-control" [(ngModel)]="assetdetail.dualBand" style="display:inline;" type="text" placeholder="Dual Band"
              id="dualBand" />
          </div>
          <!-- IMEI Number -->
          <div class="form-group row" style="padding:1%">
            <label for="imeiNo" class="form-label">IMEI Number</label>
            <input class="form-control" [(ngModel)]="assetdetail.imeiNo" style="display:inline;" type="text" placeholder="IMEI Number"
              id="imeiNo" />
          </div>

          <!-- Ram Upgrade -->
          <div class="form-group row" style="padding:1%">
            <label for="ramUpgrade" class="col-2 col-form-label">RAM Upgrade</label>
            <input class="form-control" [(ngModel)]="assetdetail.ramUpgrade" style="display:inline;" type="text" placeholder="RAM Upgrade"
              id="ramUpgrade" />
          </div>
          <!--RAM Serial Number -->
          <div class="form-group row" style="padding:1%">
            <label for="ramSerialNo" class="col-2 col-form-label">RAM Serial Number</label>
            <input class="form-control" [(ngModel)]="assetdetail.ramSerialNo" style="display:inline;" type="text" placeholder="RAM Serial Number"
              id="ramSerialNo" />
          </div>
          <!-- RAM Part Number -->
          <div class="form-group row" style="padding:1%">
            <label for="ramPartNo" class="form-label">RAM Part Number:</label>
            <input class="form-control" [(ngModel)]="assetdetail.ramPartNo" style="display:inline;" type="text" placeholder="RAM Part Number"
              id="ramPartNo" />
          </div>
          <div class="form-group row" style="padding:1%">
              <label for="assetStatus" class="form-label">Asset Status:</label>
              <select class="form-control" name="status" [(ngModel)]="assetdetail.assetStatus" id="assetStatus" >                
                    <option  [value]="1" [selected]="assetdetail.assetStatus ==1">Active</option>
                    <option  [value]="2" [selected]="assetdetail.assetStatus ==2">Inactive</option>                  
                  </select>
            </div>
        </div>
        <!-- Column 3 -->
        <div class="col-sm-4">
          <!-- Asset Status -->
         
          <!-- Vendor -->
          <div class="form-group row" style="padding:1%">
            <label for="vendor" class="form-label">Vendor:</label>
            <input class="form-control" [(ngModel)]="assetdetail.vendor" style="display:inline;" type="text" placeholder="Vendor" id="vendor"
         />
          </div>

          <!-- Fiscal Year -->
          <div class="form-group row" style="padding:1%">
            <label for="fiscalYear" class="form-label">Fiscal Year:</label>
            <input class="form-control" [(ngModel)]="assetdetail.fiscalYear" style="display:inline;" type="text" placeholder="Fiscal Year"
              id="fiscalYear" />
          </div>

          <div class="form-group row" style="padding:1%">
              <label for="complaint" class="form-label">Complaint:</label>
              <textarea class="form-control" rows="2" [(ngModel)]="assetdetail.complaint" id="complaint"></textarea>
            </div>

          <!-- Comments  -->
          <div class="form-group row" style="padding:1%">
            <label for="comments" class="form-label">Comments:</label>
            <textarea class="form-control" rows="2" [(ngModel)]="assetdetail.comments" id="comments"></textarea>
          </div>
        </div> 

        </div>
          <div class="line">
            
          </div>
  
          <h4>Master Asset Table [Total asset types in use : {{assetList.length}}]</h4>
  
  
  
          <table class="table table-bordered table-responsive" style="width:85%;">
              <thead>
                  <tr>
                      <th>Asset Id</th>
                      <th class="formobile">Model Type</th>
                      <th>Serial Number</th>
                      <th>Host Name</th>
                      <th>OS Type</th>
                      <th>Action</th>
                  </tr>
              </thead>
              <tbody>
                <tr *ngFor="let asst of assetList; let i = index">
                    <td>{{asst.assetId}}</td>
                    <td class="formobile">{{asst.modelType}}</td>
                    <td>{{asst.serialNumber}}</td>
                    <td>{{asst.hostName}}</td>
                    <td>{{asst.osType}}</td>
                  
                    
                    <td><a (click)="openModal(template,i)">
                        <i class="glyphicon glyphicon-edit"></i></a>
                     </td>
                </tr>
            </tbody>


             </table> 
        </div>
        <template #template>
          <div class="modal-header">
              <h4 class="modal-title pull-left">Modal</h4>
              <button type="button" class="close pull-right" aria-label="Close"
               (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
          </div>
          <div class="row" style="padding:2%;">

            <div class="col-sm-5">

                <div class="form-group row">
                    <label for="assetId" class="form-label">Asset Id</label>

                  <input class="form-control" [(ngModel)]="assetModal.assetId" type="text" id="assetId" />
                </div>
                <div class="form-group row">
                  <label for="example-search-input" class="col-2 col-form-label">Model Type</label>

                  <select class="form-control" id="modelType" name="modelType" [(ngModel)]="assetModal.modelType" >
                    <option value="Lenovo T450">Lenovo T450</option>
                    <option value="Lenovo T50">Lenovo P50</option>
                    </select>

              </div>
              <div class="form-group row">
                <label for="serialNumber" class="col-2 col-form-label">Serial Number</label>

                <input class="form-control" id="serialNumber" type="text" [(ngModel)]="assetModal.serialNumber" />

               </div>
               <div class="form-group row">
                <label for="example-search-input" class="col-2 col-form-label">Host Name</label>

                <input class="form-control" id="hostName" type="text" [(ngModel)]="assetModal.hostName" />

               </div>
               <div class="form-group row">
                <label for="example-search-input" class="col-2 col-form-label">OS Type</label>

                <select class="form-control" id="osType" name="osType" [(ngModel)]="assetModal.osType" >
                  <option value="32">32 Bit</option>
                  <option value="64">64 Bit</option>
                </select>  

               </div>
               <div class="form-group row">
                  <label for="assetModelId" class="col-2 col-form-label">Asset Model ID</label>
  
                  <input class="form-control" id="assetModelId" type="text" [(ngModel)]="assetModal.assetModelId" />
  
                 </div>
                 <div class="form-group row">
                    <label for="example-search-input" class="col-2 col-form-label">Dual Band</label>
    
                    <input class="form-control" id="dualBand" type="text" [(ngModel)]="assetModal.dualBand" />
    
                   </div>
            
            

              
                </div>
                <div class="col-sm-2">
                  </div>
                 
                  
                <div class="col-sm-5">


                 

                     <div class="form-group row">
                        <label for="example-search-input" class="col-2 col-form-label">IMEI Number</label>
        
                        <input class="form-control" id="imeiNo" type="text" [(ngModel)]="assetModal.imeiNo" />
        
                       </div>
                       <div class="form-group row">
                          <label for="example-search-input" class="col-2 col-form-label">RAM Upgrade</label>
          
                          <input class="form-control" id="ramUpgrade" type="text" [(ngModel)]="assetModal.ramUpgrade" />
          
                         </div>
                         <div class="form-group row">
                            <label for="example-search-input" class="col-2 col-form-label">RAM Serial Number</label>
            
                            <input class="form-control" id="ramSerialNo" type="text" [(ngModel)]="assetModal.ramSerialNo" />
            
                           </div>
                           <div class="form-group row">
                              <label for="example-search-input" class="col-2 col-form-label">RAM Part Number</label>
              
                              <input class="form-control" id="ramPartNo" type="text" [(ngModel)]="assetModal.ramPartNo" />
              
                             </div>
                             <div class="form-group row">
                                <label for="example-search-input" class="col-2 col-form-label">Asset Status</label>
                                <select class="form-control" name="Status" [(ngModel)]="assetModal.assetStatus">
                        
                                    <option value="Active">Active</option>
                                    <option value="Inactive">Inactive</option>
                        </select>
                            </div>
                            <div class="form-group row">
                                <label for="example-search-input" class="col-2 col-form-label">Vendor</label>
                
                                <input class="form-control" id="vendor" type="text" [(ngModel)]="assetModal.vendor" />
                
                               </div>
            
                               <div class="form-group row">
                                <label for="example-search-input" class="col-2 col-form-label">Fiscal Year</label>
                
                                <input class="form-control" id="fiscalYear" type="text" [(ngModel)]="assetModal.fiscalYear" />
                
                               </div>


                </div>
                  
                  
          </div>      
          <div class="row alignCenter">
            <button type="button" id="modalClose" (click)="editSelectedAssetDetail(template)"
             class="btn btn-info navbar-btn">SAVE & EXIT</button>
        </div>
    

          </template>





        
        </div>