<div class="HomePage height-100">
    <nav class="navbar navbar-default height-10vh">
        <div class="container-fluid">

            <div class="navbar-header">
                <h4> <img width="40" height="35" src="../../assets/images/lowes.png" alt="Lowes" />
                    <a style="color:white;font-family:verdana;">Asset Management System</a></h4>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            </div>
        </div>
    </nav>

    <!-- Sidebar Holder -->
    <div class="wrapper  height-90vh">
        <nav id="sidebar">


            <ul class="list-unstyled components">
                <li class="active">
                    <a (click)="navigateToHome()">
                            <i class="glyphicon glyphicon-home"></i>
                            Home
                        </a>

                </li>

                <li>

                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">
                            <i class="glyphicon glyphicon-duplicate"></i>
                            User Management
                        </a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li><a href="#"><i class="glyphicon glyphicon-eye-open"></i>Roles</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-user"></i>Users</a></li>
                    </ul>
                </li>

                <li>

                    <a href="#assetSubmenu" data-toggle="collapse" aria-expanded="false">
                            <i class="glyphicon glyphicon-hdd"></i>
                            Assets
                        </a>
                    <ul class="collapse list-unstyled" id="assetSubmenu">
                        <li><a (click)="navigateToAddAssetType()"><i class="glyphicon glyphicon-plus"></i>Add / Edit Asset Type</a></li>
                        <li><a (click)="navigateToAddAssetModel()"><i class="glyphicon glyphicon-plus"></i>Add / Edit Asset Model</a></li>
                       
                        <li><a (click)="navigateToAddAssetDetail()" ><i class="glyphicon glyphicon-plus"></i>Add / Edit Assets Detail</a></li>
                        
                    </ul>
                </li>

                <li>`

                    <a href="#empSubmenu" data-toggle="collapse" aria-expanded="false">
                            <i class="glyphicon glyphicon-user"></i>
							
                            Employee
                        </a>
                    <ul class="collapse list-unstyled" id="empSubmenu">
                        <li><a (click)="navigateToAddEmployee()"><i class="glyphicon glyphicon-plus"></i>Add Employee</a></li>
                        <li><a (click)="navigateToEditEmployee()"><i class="glyphicon glyphicon-pencil"></i>Search / Edit Employee</a></li>

                    </ul>
                </li>





                <li>

                    <a href="#rptSubmenu" data-toggle="collapse" aria-expanded="false">
                            <i class="glyphicon glyphicon-th"></i>
                            Reports
                        </a>
                    <ul class="collapse list-unstyled" id="rptSubmenu">
                        <li><a href="#">Asset Summary Report</a></li>
                        <li><a href="#">Asset Detailed Report</a></li>
                    </ul>
                </li>

                <li>
                    <a (click)="navigateToAllocDealloc()">
                        <i class="glyphicon glyphicon-hand-up"></i>
                        Allocate / Deallocate
                    </a>
                </li>


                <!--     <li>
                        <a href="#" class="staticElemClass">
                            <i class="glyphicon glyphicon-link"></i>
                            Portfolio
                        </a>
                    </li> -->
                <li>
                    <a href="#" class="staticElemClass">
                        <i class="glyphicon glyphicon-briefcase"></i>
                        About
                    </a>
                </li>
                <!--   <li>
                        <a href="#" class="staticElemClass">
                            <i class="glyphicon glyphicon-paperclip"></i>
                            FAQ
                        </a>
                    </li> -->
                <li>
                    <a href="#" class="staticElemClass">
                            <i class="glyphicon glyphicon-send"></i>
                            Contact
                        </a>
                </li>
            </ul>

            <ul class="list-unstyled CTAs">
                <li><a href="#" class="download">USAGE TUTORIAL</a></li>
                <li><a href="#">&nbsp;&nbsp;&nbsp;&#xa9; Lowes Asset Management.</a></li>
            </ul>
        </nav>



        <!-- Page Content Holder -->
        <div id="content">



            <!-- Add Assets Panel start -->
            <!-- <div class="row">
            <div class="col-sm-12">
                
                <h6>
                     <button type="button" id="sidebarCollapse" class="btn btn-success navbar-btn">
                              <i class="glyphicon glyphicon-remove"></i>
								
                            </button>
                   </h6>
            </div>
        </div> -->





            <div class="row">
                <div class="col-md-3 col-xs-12 gridSpacingStyle">
                    <div class="col-md-12 col-xs-12 btn shade1 gradientStyle">
                        <a (click)="navigateToAddAssetType()">
                            <h2 class="centerStyle"> <i class="glyphicon glyphicon-plus"></i><i class="glyphicon glyphicon-blackboard"></i></h2>

                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12 gridSpacingStyle">
                    <div class="col-md-12 col-xs-12 btn shade1">
                        <a (click)="navigateToAddEmployee()">
                            <h2 class="centerStyle"><i class="glyphicon glyphicon-plus"></i><i class="glyphicon glyphicon-user"></i></h2>

                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12 gridSpacingStyle">
                    <div class="col-md-12 col-xs-12 btn shade1">
                        <a (click)="navigateToEditEmployee()">
                            <h2 class="centerStyle"> <i class="glyphicon glyphicon-search"></i><i class="glyphicon glyphicon-user"></i></h2>

                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12 gridSpacingStyle">
                    <div class="col-md-12 col-xs-12 btn shade1 gradientStyle">
                        <h2 class="centerStyle"> <i class="glyphicon glyphicon-search"></i><i class="glyphicon glyphicon-list-alt"></i></h2>


                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-md-3 col-xs-12 gridSpacingStyle">
                    <div class="col-md-12 col-xs-12 btn shade1">
                        <a (click)="navigateToAllocDealloc()">
                            <h2 class="centerStyle"><i class="glyphicon glyphicon-hand-up"></i><i class="glyphicon glyphicon-hand-down"></i></h2>

                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12 gridSpacingStyle">
                    <div class="col-md-12 col-xs-12 btn shade1 gradientStyle">
                        <h2 class="centerStyle"><i class="glyphicon glyphicon-plus"></i><i class="glyphicon glyphicon-list-alt"></i></h2>


                    </div>
                </div>
                <div class="col-md-3 col-xs-12 gridSpacingStyle">
                    <div class="col-md-12 col-xs-12 btn shade1 gradientStyle">
                        <h2 class="centerStyle"> <i class="glyphicon glyphicon-euro"></i><i class="glyphicon glyphicon-time"></i></h2>


                    </div>
                </div>
                <div class="col-md-3 col-xs-12 gridSpacingStyle">
                    <div class="col-md-12 col-xs-12 btn shade1">
                        <a (click)="navigateToRoleManagement()">
                            <h2 class="centerStyle"> <i class="glyphicon glyphicon-user"></i></h2>

                        </a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 col-xs-12 gridSpacingStyle">
                    <div class="col-md-12 col-xs-12 btn shade1 gradientStyle">
                        <a (click)="navigateToAllocDealloc()">
                            <h2 class="centerStyle"><i class="glyphicon glyphicon-hand-up"></i><i class="glyphicon glyphicon-hand-down"></i></h2>

                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12 gridSpacingStyle">
                    <div class="col-md-12 col-xs-12 btn shade1">
                        <h2 class="centerStyle"><i class="glyphicon glyphicon-plus"></i><i class="glyphicon glyphicon-list-alt"></i></h2>


                    </div>
                </div>
                <div class="col-md-3 col-xs-12 gridSpacingStyle">
                    <div class="col-md-12 col-xs-12 btn shade1">
                        <h2 class="centerStyle"> <i class="glyphicon glyphicon-euro"></i><i class="glyphicon glyphicon-time"></i></h2>


                    </div>
                </div>
                <div class="col-md-3 col-xs-12 gridSpacingStyle">
                    <div class="col-md-12 col-xs-12 btn shade1 gradientStyle">
                        <a (click)="navigateToRoleManagement()">
                            <h2 class="centerStyle"> <i class="glyphicon glyphicon-user"></i></h2>

                        </a>
                    </div>
                </div>
            </div>






        </div>

    </div>
</div>