/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


 html  {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    max-height: 100% !important;
    overflow-y: hidden !important;
   
    
} 

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color:#000;
}

h4{

color: #fff;

}

h2{

color: #fff;

}


a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 0.40% 0.25%;
    background: #001028;
    border: none;
     -webkit-box-shadow: 1px 1px 1px 1px #000;
  -moz-box-shadow:    1px 1px 1px 1px #000;  
  box-shadow:         1px 1px 1px 1px #000; 
   margin-bottom: 0;
   
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}


.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #606ea3;
    margin: 20px 0;

}

.whiteLine{
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #fff;
  margin: 20px 0;
}

.line1 {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #606ea3;
    border-bottom-style: dashed;
    margin: 20px 0;

}

.height-100 {
    height: 100% !important;
}

.height-10vh {
    height: 10vh !important;
}

.height-90vh {
    height: 90vh !important;
}
.blankline {
    width: 100%;
    height: 1px;
    margin: 20px 0;

}

i, span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
   
   padding-top:0px !important;
   height: 100%;
    
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
   /* background: #251870;*/
background: rgb(14,5,68); /* Old browsers */
background: -moz-linear-gradient(top, rgba(14,5,68,1) 0%, rgba(97,99,102,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(14,5,68,1) 0%,rgba(97,99,102,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(14,5,68,1) 0%,rgba(97,99,102,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0544', endColorstr='#616366',GradientType=0 ); /* IE6-9 */
color: #fff;
    transition: all 700ms;
   /* border-right: 0.2px solid #fff;*/
    
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h3, #sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

.staticElemClass{

    text-align: left;

    background: #001028;
    margin: 5%;
    border-radius: 5px;
}

#sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#bs-example-navbar-collapse-1 ul li a{

  color: white;
  border-left:1px solid white;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
    top: auto;
    bottom: 5px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #606ea3;
    color:#fff;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    cursor: pointer;
}
#sidebar ul li a:hover {
    color: #fff;
    background: #001028;
      text-shadow: 1px 0px 9px #ffd200;
-webkit-transition: 200ms linear 0s;
-moz-transition: 200ms linear 0s;
-o-transition: 200ms linear 0s;
transition: 200ms linear 0s;
outline: 0 none;
}
#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #001028;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #455375;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
   
    margin-bottom: 5px;
}

a.download {
    background: #001028;
    
    color: #fff;
    text-align: center !important;
    font-weight: bold;
}

a.article, a.article:hover {
    background: #606ea3 !important;
    color: #fff !important;
}

.figcaption {
    text-align: center;
    font-weight: bold; 
}

.textcolor{
    color:#fff;
    font-weight: bold;
}
a:hover img {
  transform: scale(1.15); 
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
      padding: 0px 15px 0px 15px;
   height:100%;
   
   width:calc(100%);
    transition: all 700ms;
   
    background-image: url("../../assets/images/background1.jpg");  
  background-repeat: no-repeat;
  background-size: cover;


}



/* ---------------------------------------------------
    LABEL HEADER STYLE
----------------------------------------------------- */







/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    .wrapper {
    display: flex;
    align-items: stretch;
   
}
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important ;
    }
    a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }

    #sidebar .sidebar-header h3, #sidebar .CTAs {
        display: none;
    }

    #sidebar .sidebar-header strong {
        display: block;
    }

    #sidebar ul li a {
        padding: 20px 10px;
    }

    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right:  0;
        display: block;
    }

    #sidebar ul ul a {
        padding: 10px !important;
    }

    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

/* ---------------------------------------------------
    CUSTOM USED CSS
----------------------------------------------------- */

.paddingRight20{

padding: 0px 20px 0px 0px;
}

.paddingTop10pc{

  padding-top: 10%;
}

.alignRight{
text-align:right;

}

.mdFontSize{
  font-size: 30px;
  color: #606ea3;
}



.img-circle {
    border-radius: 50%;
}


/** Home Page Grids Styles  */
/* ---------------------------------------------------
 
----------------------------------------------------- */

.centerStyle{
padding-top:21%;
padding-bottom:20.5%;
padding-left:0px !important; 
padding-right:0px !important;

}
.gridSpacingStyle{
padding-left:0px !important; 
padding-right:0px !important;
border-radius: 0px !important;
opacity: 0.9;
}

.gridSpacingStyle:hover{
    padding-left:0px !important; 
padding-right:0px !important;
border-radius: 0px;
/*opacity: 0.95;*/
     text-shadow: 1px 0px 9px #ffd200;
/* -webkit-transition: 200ms linear 0s;
-moz-transition: 200ms linear 0s;
-o-transition: 200ms linear 0s;
transition: 200ms linear 0s; */
outline: 0 none;

}


.shade1{
background-color:#0E0544;
padding-left:1px !important; 
padding-right:1px !important;
padding-bottom:1px !important;
border-radius: 0px !important;


}



.bannerStyle1{
padding-top:15px;
padding-bottom:15px;
background-color:#3F1150;
border-radius: 5px;
border:1px solid #ffffff;
}

.shade2{
background-color:#0E0544;
padding-left:1px !important; 
padding-right:1px !important;
padding-bottom:1px !important;
border-radius: 0px !important;


}
.bannerStyle2{
padding-top:15px;
padding-bottom:15px;
background-color:#3F1150;
border-radius: 5px;
border:1px solid #ffffff;
}

.shade3{
background-color:#0E0544;
padding-left:1px !important; 
padding-right:1px !important;
padding-bottom:1px !important;
border-radius: 0px !important;

}
.bannerStyle3{
padding-top:15px;
padding-bottom:15px;
background-color:#3F1150;
border-radius: 5px;
border:1px solid #ffffff;
}

.shade4{
background-color:#0E0544;
padding-left:1px !important; 
padding-right:1px !important;
padding-bottom:1px !important;
border-radius: 0px !important;

}
.bannerStyle4   {
padding-top:15px;
padding-bottom:15px;
background-color:#3F1150;
border-radius: 5px;
border:1px solid #ffffff;
}

.shade5{
background-color:#0E0544;
padding-left:1px !important; 
padding-right:1px !important;
padding-bottom:1px !important;
border-radius: 0px !important;

}
.bannerStyle5   {
padding-top:15px;
padding-bottom:15px;
background-color:#3F1150;
border-radius: 5px;
border:1px solid #ffffff;
}

.shade6{
background-color:#0E0544;
padding-left:1px !important; 
padding-right:1px !important;
padding-bottom:1px !important;
border-radius: 0px !important;

}
.bannerStyle6   {
padding-top:15px;
padding-bottom:15px;
background-color:#3F1150;
border-radius: 5px;
border:1px solid #ffffff;
}


.shade7{
background-color:#0E0544;
padding-left:1px !important; 
padding-right:1px !important;
padding-bottom:1px !important;
border-radius: 0px !important;

}
.bannerStyle7   {
padding-top:15px;
padding-bottom:15px;
background-color:#3F1150;
border-radius: 5px;
border:1px solid #ffffff;
}

.shade8{
background-color:#0E0544;
padding-left:1px !important; 
padding-right:1px !important;
padding-bottom:1px !important;
border-radius: 0px !important;

}
.bannerStyle8 {
padding-top:15px;
padding-bottom:15px;
background-color:#3F1150;
border-radius: 5px;
border:1px solid #ffffff;

}


.noSpaceLine {
    width: 100%;
    height: 1px;
   
    margin: 7px 0;

}



footer {
  position: absolute;
  bottom: 0;
 
  /* Set the fixed height of the footer here */

  background-color: #f5f5f5;
}


.gradientStyle{
    background: rgb(14,5,68); /* Old browsers */
background: -moz-linear-gradient(top, rgba(14,5,68,1) 0%, rgba(34,29,61,1) 48%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(14,5,68,1) 0%,rgba(34,29,61,1) 48%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(14,5,68,1) 0%,rgba(34,29,61,1) 48%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0544', endColorstr='#221d3d',GradientType=0 ); /* IE6-9 */
}
